<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- cdn axion -->
     <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding:0;
            box-sizing: border-box;
        }
        body{
            background-color: lightskyblue;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .box{
            width: 20px;
            height: 20px;
            margin: 2px;
        }
        .red{
            background-color: red;
        }
        .green{
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="container" id="app">
        <div class="email"></div>
        <!-- 1strategia -->
        <!-- <div v-for="value in values" class="box" :class="value%2==0?'green':'red'"> -->
            <!-- seconda strategia -->
        <!-- </div> -->
        <div 
            v-for="elem in values" 
            class="box "
            :class="elem.class"
            >
            <h1>
                {{ elem.value }}
            </h1>
        </div>
        <ul>
            <!-- <li>{{email}}</li> -->
        </ul>
    </div>
    <script>
    // TODO NOW
    // attraverso vue&axios scaricare 10 numeri interi e produrre le box
    // corrispondenti, colorandone il bg verde nel caso di numeri pari
    // e rossi nel caso di numeri dispari
    //Chiedere il numero di box da generare all'utente attraverso un prompt e generare anche un box rappresentate la somma dei valori ricevuti
    // init({
    //         $.ajax({
    //             url:"https://flynn.boolean.careers/exercises/api/random/int",
    //             method:"GET",
    //             success:function(data){
    //                 const result=data.response    
    //                 $('.container').append('<div class="email">'+result+'</div>')                
    //             },
    //             error: function(){
    //                 alert ('Non sai fare nulla')
    //             },
    //     });
    // }        
        function box(color){
            // $('.'+ color+'"'").append('ciao')
        }
        function init(){
            new Vue({
                el:'#app',
                data: {
                    emails:[],
                    green:[],
                    red:[],
                    values:[],
                },
                mounted(){
                    axios.get('https://flynn.boolean.careers/exercises/api/array/integers',{params:{min: 1,max: 100,items: prompt('ciao')}})
                    .then(data => {
                        //strategia 1
                            // this.values=data.data.response;
                        // STRATEGIA 2
                        const values = data.data.response;
                        for (let i=0;i<values.length;i++) {
                            const value = values[i];
                            const isPair = value % 2 == 0;
                            
                            this.values.push({
                                'value':value,
                                'class': isPair ? 'green' : 'red'
                            });
                        }
                        console.log(this.values);
                    })
                    .catch(()=>console.log('error'));
                }
        });}
        document.addEventListener('DOMContentLoader',init())
    </script>
</body>
</html>