// importo le variabili da un altro file
// senza parentesi
@import 'partials/variables';

body{
    background-color: lightblue;
    .container{
        display: flex;
        justify-content: center;
        h1{
            color: $grigioPinguino;
            
        }
    }
}